.male{
    color:rgb(77, 77, 252);
    font-size: x-large;
}
.female{
    color:rgb(252, 95, 121);
    font-size: x-large;
    border-color:rgb(252, 95, 121) ;
}

.text-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.card-img-resize {
	aspect-ratio: 16 / 9;
	width: 100%;
	object-fit: cover;
}
h1{
	font-family: "Luckiest Guy", cursive;
}

.bg{
    background-image: url("https://thesimpsonsapi.com/clouds-bg.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

.scrollable::-webkit-scrollbar {
    color: black;
   background: #fcd20000;
   border-radius: 10px;
}
.scrollable::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 10px;
  border: 3px solid #1f1f1f;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #ffb300;
}
.separator{
    width: 90%;
    height: 3px;
    background-color: #ffc107;
    margin-inline: auto;
}