.male{
    color:rgb(77, 77, 252);
    font-size: x-large;
}
.female{
    color:rgb(252, 95, 121);
    font-size: x-large;
    border-color:rgb(252, 95, 121) ;
}

.text-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.card-img-resize {
	aspect-ratio: 16 / 9;
	width: 100%;
	object-fit: cover;
}
h1{
	font-family: "Luckiest Guy", cursive;
}

.bg{
    background-image: url("https://thesimpsonsapi.com/clouds-bg.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
}